<app-reform></app-reform>

<h1>{{hello}}</h1>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/256px-Bitcoin.svg.png">
<br/>
<label>BTC Rate: {{ currencyRate ?? "Error: currency not found" }}</label>
<br/>
<select (change)="changeCurrency($event)">
    <option></option>
    <option *ngFor="let currency of currencies" value={{currency}}>{{currency}}</option>
</select>
<br/>
<label>Enter currency:</label><br/>
<input #inputCurrency type="text"/>
<button (click)="currencyRequest(inputCurrency.value)">Request</button>

<br/><br/>
<table>
    <tr>
        <th (click)="sortCCClick()">Код</th>
        <th (click)="sortRateClick()">Цінність</th>
    </tr>
    <tr *ngFor="let rate of rates" (click)="rateClick(rate)">
        <td>{{rate.cc}}</td>
        <td>{{rate.rate}}</td>
    </tr>
</table>
<br />
<!-- <button (click)="loadClick()">Load rates</button> -->